[2017-05-24 14:27] joecorkerton opened #2 "Unable to install pdpipe in Docker container"
With `pip install pdpipe` in the requirements.txt I get the following errors:
[code]

[2017-05-24 15:36] shaypal5 commented on #2
@joecorkerton Sorry, it was a stupid mistake with `setup_requires` on my part; it copied the test requirements instead of the install ones. I released `0.0.6` with a fix, and I think it should work now. Care to give this a try?

[2017-05-24 16:20] joecorkerton commented on #2
Works now!

[2017-05-24 16:20] #2 closed

[2019-10-13 17:36] solalatus opened #9 "Diff transformer"
Hi,

Pdpipe is marvelous, very nice tool!

One addon possibility that I was wondering:
In case of time series, de-trending is a common operation, done by taking the first differential of the data eg. with `pd.DataFrame.diff(1)`. The problem with this is, that the initial value gets dropped and there is no easy way to "back transform".
Here a "fittable", Scikit like transformer could come in handy.

[2019-12-01 05:13] tirthajyoti opened #10 "My article about your package"
Hi,

I found your package quite useful and pretty neat. I may contribute to it later with ideas and suggestions for enhancement.

For now, I have written an article about it and it has gained traction pretty fast.

**[Check out the article here](https://towardsdatascience.com/build-pipelines-with-pandas-using-pdpipe-cade6128cd31)**.

[2019-12-01 10:16] shaypal5 commented on #10
@tirthajyoti, this is awesome! Actually a friend shared it with me yesterday, and I just finished going through it. Great stuff, man. I'm so happy you found this little thing useful. Contributions are more than welcomed. :)

Like I mentioned in my comment to the article, I'd love it if you be willing to link to the project repository itself a few times over the course of the article, so more peopl

[2019-12-01 18:53] tirthajyoti commented on #10
I linked this Repo on all the places the word `pdpipe` is mentioned in the article.

Please feel free to give a link to my article in your Readme or anywhere you like.

[2019-12-02 03:14] arita37 opened #11 "Issue : Cannot work on test data."
Column : country; 200 countries
train data :  2000 samples.
test data:  3 samples

If you have the same pipeline (ie oneHotEnCoder),  it will fail on test data,
because lack of samples.

I have developed a more advanced pipeline which solves this issue....

[2019-12-02 05:50] shaypal5 commented on #10
Thanks! Will do!

[2019-12-02 16:32] shaypal5 commented on #10
Can I get a friends link, so I'm sure anyone who wants to rely on this as a tutorial can indeed read your article?

[2019-12-02 19:19] tirthajyoti commented on #10
Instead of Medium article, I can create a Markdown and either host it on my Github.io or in the project itself. Give me a few days for that.

[2019-12-03 05:37] paulandre2000 opened #12 "pdpipe has no attribute 'Scale'"
With these imports I get the following error message

![image](https://user-images.githubusercontent.com/31088235/70022935-7eb1a500-155b-11ea-96d5-586d659525f9.png)

![image](https://user-images.githubusercontent.com/31088235/70023039-dbad5b00-155b-11ea-8e9c-8e101d5619f4.png)

Is there anything else that needs to be imported?

[2019-12-03 08:12] shaypal5 commented on #11
Actually, the OneHotEncode pipeline stage deals well with "train" and "test" data - more accurately, pre-fit and post-fit data - of very different sizes.

As you can see in the file containing the tests for this pipeline stage, both cases are tested:
https://github.com/shaypal5/pdpipe/blob/master/tests/col_generation/test_onehotencode.py

I'm closing this so you can reopen with a concrete example

[2019-12-03 08:12] #11 closed

[2019-12-03 08:13] shaypal5 commented on #10
Sounds good! :)

[2019-12-03 08:27] shaypal5 commented on #12
Is it possible you went through this process?

1. Didn't have `sklearn` installed at the start.
2. Got a warning message from `pdpipe` regarding missing `sklearn` functionalities.
3. Installed `sklearn` while the kernel is up (let say, using a `!pip install scikit-learn` command in one of the notebooks cells).
4. Ran the imports again and then got just this error.

I'm asking because when `pdpipe`

[2019-12-03 08:30] shaypal5 commented on #9
Yes, definitely! Though I have to say no `pdpipe` stage at the moment has an `inverse_transform` method, so you still won't have invertible pipelines... :|

[2019-12-03 10:49] solalatus commented on #9
Well, the Scikit dependent ones might. Or am I mistaken?

[2019-12-03 14:25] paulandre2000 commented on #12
Sklearn was/is installed, I checked with !pip list from a cell in the notebook. When I do the 4 imports for sklearn, pandas, numpy and pdpipe, I get the warning from pdpipe that you mention ("pdpipe: Scikit-learn or skutil import failed. Scikit-learn").  When I run again the cell containing these 4 imports, I don’t get any warning,  but then I do get the same error message as I originally posted.

[2019-12-03 14:33] paulandre2000 commented on #12
Sklearn was/is installed, I checked with !pip list from a cell in the notebook. When I do the 4 imports for sklearn, pandas, numpy and pdpipe, I get the warning from pdpipe that you mention ("pdpipe: Scikit-learn or skutil import failed. Scikit-learn").  When I run again the cell containing these 4 imports, I don’t get any warning,  but then I do get the same error message as I originally posted.

[2019-12-04 09:45] tresink opened #13 "Imputers"
Hi,

First of all, congrats on a nice package! I read the medium article and immediately tried it.

One thing I am wondering is, is there a way to use imputers from sklearn with pdpipe? Or could you give an example on how to use any class with the fit, transform and fit_transform method with pdpipe?

Kind regards,

Tim

[2019-12-05 14:16] shaypal5 commented on #12
Can you please uninstall `pdpipe` and then install it with the upgrade flag? As in `pip install -U pdpipe`...

Then please tell me which version of the package was installed (you can use `pip show pdpipe`).

The latest release, `v0.0.32`, should fix your issue, which was a `skutil` installation issue.

[2019-12-07 15:56] shaypal5 commented on #10
Hey @tirthajyoti

I've added the `RowDrop` stage to `pdpipe` in the latest release, `v0.0.33`, which can solve one of the more complex operations in your blog post in a single pipeline stage. Instead of three stages, you can remove all rows for which the price is smaller or equal to 250000 by using the following stage:
```pdp.RowDrop({'Price': lambda x: x <= 250000})```

If you don't mind, I'd lov

[2019-12-08 06:50] tirthajyoti commented on #10
OK, @shaypal5 I will test it in my Notebook and add as an update to my article.
I have been out this whole week on business travel, so will get to it next week.

[2019-12-08 09:29] shaypal5 commented on #10
Cool! Waiting for an update...

[2019-12-10 05:18] paulandre2000 commented on #12
I have done what you have described above and my issue is now resolved, I don't get any error messages. Version: 0.0.33 was installed. Thank you for your help resolving my issue!

[2019-12-17 02:51] tirthajyoti commented on #10
Hey @shaypal5 , I updated the article on Medium and also created the Free Markdown version so that users can refer there. It is hosted on my Github.io page and **[here is the link](https://tirthajyoti.github.io/Notebooks/Pandas-pipeline-with-pdpipe)**.

[2019-12-21 13:56] shaypal5 commented on #10
Thanks, man! :)

Can I bother you again? I've created a simple homepage for the package:
https://pdpipe.github.io/pdpipe/

Would you mind updating the links in the article to point to the homepage instead of the repository? I think it's way more friendly to newcomers.

[2019-12-21 19:33] #10 closed

[2019-12-21 19:34] shaypal5 commented on #12
Yay! Sure thing, friend! :)

[2019-12-21 19:34] #12 closed

[2019-12-21 19:40] shaypal5 commented on #9
Yep, the sklearn ones can definitely be made invertible.

The NLTK ones for sure don't. For example, if you drop rare tokens or stem words, you have no way to go back, as these are transformations that map many different input into the same output (e.g. "grabbing" and "grabbed" to "grab").

[2019-12-23 20:52] shaypal5 commented on #10
Also, the hyperlink on my name doesn't work, and I'd love it to point to [my personal website](http://www.shaypalachy.com/) anyway, is possible. Thanks!

(My personal address: http://www.shaypalachy.com/)

![image](https://user-images.githubusercontent.com/917954/71380112-c1a0ee80-25d6-11ea-9195-80992877e899.png)

[2019-12-23 20:59] tirthajyoti commented on #10
Updated these links now.

[2019-12-25 11:13] shaypal5 commented on #10
Thanks :)

[2019-12-31 09:12] shinokada opened #16 "AttributeError: module 'pdpipe' has no attribute 'TokenizeWords'"
I tried this from the [API](https://pdpipe.github.io/pdpipe/doc/pdpipe/core.html#pdpipe.core.PdPipelineStage.TokenizeWords) TokenizeWords example.

## Expected Result

Run without error
Output should be

[code]

## Actual Result

[code]

## Reproduction Steps

[code]

## System Information

[code]

Please provide some basic information about your system (Python version,
operating system, &c).

Pyt

[2019-12-31 12:44] shaypal5 commented on #16
Hey @shinokada ,

The TokenizeWords  pipeline stage is an nltk-dependent stage, and as such requires nltk installed.
If `pdpipe` does not find one of its optional dependencies (for now, only `sklearn` and `nltk`), it issues a warning and does not import dependent stages.

Try installing `nltk` in the same Python environment as the one you're using `pdpipe` in and see if the issue is resovled. If i

[2019-12-31 12:44] #16 closed

[2019-12-31 21:39] shinokada commented on #16
Thanks. The following worked.

[code]

I thought I had installed nltk, but it was in Anaconda.

[2020-01-01 07:46] shaypal5 commented on #16
Hah, happens to all of us, with all those sneaky Python environments! :)

[2020-01-04 09:07] shaypal5 opened #17 "Feature Suggestion: Column Qualifiers"
Add the ability for the `columns` parameter of many pipeline stages to receive a callable that can be applied to columns to get back back a subset of them, effectively functioning as a condition or a filter.

On calls to `fit` or `fit_transform` the qualifier is applied to the input dataframe to elicit a list of column labels, which is a saved as a fitted parameter of the pipeline. On later calls

[2020-01-04 09:13] shaypal5 commented on #13
Hey @tresink ,

Thank you for your kind words. :)

Yes, it should be fairly easy to write a small generic adapter around sklearn imputers. Basically the only thing missing is casting the data structure from a numpy array back to a dataframe.

I think one could even write a generic wrapper doing this to np.ndarray-to-np.ndarray sklearn transformer.

I'll try to get to it soon, but if you want to ta

[2020-01-13 14:00] shaypal5 opened #19 "Feature suggestion: Add stage labels"
Add the ability to give pipeline stages labels and access them by labels (both single labels and lists of labels).

For example:
[code]

[2020-01-16 17:39] shaypal5 opened #20 "Feature Suggestion: Fittable Skip-conditions & Pre-conditions"
Fittable conditions should be defined to be any callable that given a `pandas.DataFrame` object returns `True` or `False`. A type, however, should be defined, that can have a state of being fitted. On their first call they check the conditions they represent and return the appropriate boolean value, but they also save it, returning it on every future call, instead of checking for the condition aga

[2020-02-17 13:39] shaypal5 commented on #17
Implemented in #25 ! :)

[2020-02-17 13:39] #17 closed

[2020-02-26 16:44] shaypal5 commented on #20
Implemented by PR #26 ! :)

[2020-02-26 16:44] #20 closed

[2020-02-26 16:55] shaypal5 commented on #20
Released in `v0.0.46`: https://github.com/pdpipe/pdpipe/releases/tag/v0.0.46

[2020-03-04 14:26] shaypal5 opened #27 "Feature Request: More information in the messages of PipelineApplicationError"
At the moment, there is too little information in the messages of PipelineApplicationError.

Things that should be added:
1. The type of the pipeline stage (so the name of the class).
1.1. Actually, maybe the description?! :)
2. The index in the pipeline (obviously only when part of a pipeline; requires catching and rethrowing at the pipeline level).
3. The label of the pipeline stage, when #19 is

[2020-03-09 07:11] gandad opened #28 "Improve the docs"
Excellent work! I love this tool very much.
I think you can improve the docs.
I tried some times to know how to use AdHocStage to  do sum/mean operations.
The description of AggByCols is worse.

Please provide some basic information about your system (Python version,
operating system, &c).

[2020-03-09 10:49] gandad opened #29 "The Performance is very poor"
the record count is 74000.
## The following code is using pdpipe:
--------------------------------------------------------------------------
start = time.time()
salesdata = pd.read_csv(fg_generator["dataPath"]+"/processed_salesdata.csv")
salesdata = pdp.PdPipeline([
    pdp.Schematize("SKC,日期,销量,销售金额,客流,加购,活动级别,S,A,B,N,上柜日期,季节结束,品类组,品类,原始价,季节".split(",")),
    pdp.ApplyByCols("品类组",lambda x: "上装"

[2020-03-09 12:00] shaypal5 commented on #29
Hey @gandad ,

Nope, you seem to be using `pdpipe` right. I never encountered such a difference so far.
I'd love to investigate it, to understand where the performance difference is coming from.

Can you share the CSV you're using? Or maybe reproduce this on some data that you can share? Then I can run it on my end and start investigating the different stage; there is obviously something my code i

[2020-03-09 13:21] gandad commented on #29
Thanks for your replay.
I have attached the CSV and the python code.
The running platform is Win10+Python3.73+Intel i7-9750H+RAM32G

using pdp...
- Transform input dataframes to the following schema: SKC, 日期, 销量, 销售金额,
&nbsp; 客流, 加购, 活动级别, S, A, B, N, 上柜日期, 季节结束, 品类组, 品类, 原始价, 季节..
- Apply a function&nbsp; to columns 品类组..
- Apply a function&nbsp; to columns 日期, 上柜日期, 季节结束..
- Generating a column

[2020-03-16 04:54] isaeef commented on #27
@shaypal5  I would like to work on this issue

[2020-03-20 13:41] shaypal5 commented on #27
That's great! Go ahead. :)

[2020-03-22 01:31] pjakobsen commented on #28
I would like to help with documentation, but I need more info.  For example, how do I add multiple conditions to RowDrop as advertised in docs?   And, for example, how do I use RowDrop to remove every row that has column "Country" values that starts with "Europe" preferable using lamda expression without regex!  :)   This is a very common ETL operation, removing rows with string matching.

[2020-03-22 01:43] pjakobsen opened #30 "RowDrop with True not dropping rows"
I wish to drop every row with GEO column containing the string European.   For example:

_"European Union - 27 countries (from 2020)"_  should be dropped.  So I use

`pdp.RowDrop({'GEO': lambda x: str(x).find('European')})`

All rows containing "European" should be dropped, but instead I get only rows containing those values.  See code below

`

  | TIME | GEO | Value
1990 | European Union - 27 co

[2020-03-22 01:49] #30 closed

[2020-03-22 01:50] pjakobsen commented on #30
Sorry, I made a bad programming blunder.  I should have been

`pdp.RowDrop({'GEO': lambda x: str(x).find('European')==0})`

[2020-04-17 09:20] marctorsoc commented on #28
related to this, I think a great and easy improvement would be to have links to each of the pipes here https://pdpipe.github.io/pdpipe/doc/pdpipe/#basic-stages

[2020-04-26 13:47] shaypal5 commented on #30
No problem :)

[2020-04-26 14:18] shaypal5 commented on #29
Hey @gandad ,

I can't find the CSV file you have mentioned... :)

[2020-04-27 12:12] shaypal5 commented on #29
Taking a better look at your code, it's obvious you've chosen much much heavier and inefficient implementations to the same operations in `pdpipe`. Most have a better way to write in `pdpipe`, and those that do not should definitely get one.

I'm closing this as I can't really investigate this without your data, but if you ever upload this I'd love for you to re-open the issue and we can work out

[2020-04-27 12:12] #29 closed

[2020-05-04 16:37] Devligue opened #33 "Annoying UserWarnings"
Hi, would it be possible to make the user warnings display only when using pipes that actually depend on these imports? Or at least display them in a way that allows filtering out (with logging package perhaps)?

It's just a minor flaw on otherwise great package. Awesome work!

[2020-05-05 08:19] shaypal5 commented on #33
Hmmm. I'm not sure.

I think it means moving all imports into function calls, instead of the module containing the class that defines the pipeline stage; then, dependencies should be imported on function calls instead of on class imports from the module (which happen right when you import pdpipe).

A bit of work, I guess, but not impossible.

If you want to fork and create a branch when you try to

[2020-06-12 12:17] Devligue commented on #33
Wouldn't it be simpler to just include `scikit-learn` and `nltk` as regular requirements instead of making them optional? Alternatively, the stages that require these packages could be separated as "plugins" to the main `pdpipe` package. I don't mean to criticise the architectural decisions but the current solution feels kind of strange to me.

One other approach I could think of, perhaps a compro

[2020-06-12 13:58] krzysztof-spoton commented on #33
Just to share temporary workaround for anyone interested. What I currently do is:
[code]

[2020-06-12 14:00] Devligue commented on #33
Just to share temporary workaround for anyone interested. What I currently do is:
[code]

[2020-07-03 21:25] easimadi opened #37 "Apply a function to multiple columns"
Summary.

## Expected Result

I am not able to apply a pipeline with a function to transform multiple columns
[code]

I get the error
a_function() missing 1 required positional argument: 'b'

[2020-08-26 09:32] naveenkaushik2504 commented on #27
I'd like to work on this issue. Have gone through the code to make the necessary changes. Will submit a PR soon. Hope this functionality is still desired.

[2020-08-26 13:27] shaypal5 commented on #27
Great! Yeah, I'm still waiting for it. :)

[2020-10-06 11:04] shaypal5 commented on #27
Close with #38 !
Hooray @naveenkaushik2504 !

[2020-10-06 11:04] #27 closed

[2020-10-10 18:09] marcglobality opened #40 "Parallel and timed apply"
First of all, thanks for this amazing library, really useful. Now going to the issue / request:

It seems to me that ApplyByCols and ApplyToRows could have a parameter to make them run in parallel. Has this ever been  considered as a feature? I think it could speed up pipelines quite a lot, esp. useful for big dataframes. WDYT?

Also, I see that pipeline.fit and pipeline.transform have the `timed`

[2020-10-10 18:25] marcglobality opened #41 "Idea: add more linters to get more uniform codebase"
I'm using black and isort for other projects (see e.g. https://github.com/hyperopt/hyperopt/pull/748/files) and find them quite useful to have more consistent codebase. I think you should drop python3.5 support though, as black is python3.6+. Is this something you would be open to consider?

[2020-10-15 13:27] DavidKatz-il commented on #37
To apply a function on multiple columns you need to write a function that recives only one column.

[code]

[2020-10-20 16:10] shaypal5 commented on #37
What David said!

Columns-wise transformations are applied with `ApplyByCols`, while generating a column (or several columns) from existing columns is done with `ApplyByRows`.

[2020-10-20 16:10] #37 closed

[2020-10-20 16:13] shaypal5 commented on #40
1. Hmm. Never considered this. I will definitely accept PRs around parallelization! :)
2. Definitely. Perhaps it was just an oversight. This should be an easy PR to make. Perhaps you can write it?

Also, would you mind separating this into two distinct issues?
The first one is complex, while the other I can label with the `first good issue` label. :)

[2020-10-20 16:26] shaypal5 commented on #41
I definitely would, as Python 3.5 end-of-life was this September, which means I'm consider dropping support for it as contributing to the community.

I've used `black` before. I just remember hating the way it refactored list and/or multi-line strings. I'm guessing this can be configured in a root-level, project wise, linter configuration file which we can add to the repository, which would be awe

[2020-10-30 10:51] shaypal5 commented on #19
Closed by PR #39 and released in version `v0.0.52`.

[2020-10-30 10:51] #19 closed

[2020-11-04 20:00] Silun opened #43 "Dependency on sklearn"
It appears that `pdpipe` is dependent on [sklearn](https://pypi.org/project/sklearn/), the PyPI page of which plainly says not to use it and work with `scikit-learn` instead. Is there any chance you could switch the dependency to `scikit-learn` instead?

I was trying to add packages for `pdpipe` to Anaconda but I am running into trouble with `sklearn`, it's missing license etc. and came upon this

[2020-11-04 20:56] #43 closed

[2020-11-05 10:51] shaypal5 commented on #43
Hey @Silun ,

Several clarifications:

1. First, the `sklearn` Python package is an optional requirement of `pdpipe`.

2. Secondly, the correct way to install the `sklearn` Python package is through the `scikit-learn` PyPI package. PyPI packages can and often do install Python packages (sometime more than one) with a different name than the name of the package on the Python Package Index. This is

[2020-11-18 11:08] antopolskiy opened #45 "Serialization of pipelines"
The front page of the project says that `pdpipe` is "a simple framework for **serializable**, chainable and verbose pandas pipelines."

However, I was unable to find within the package the utilities for serialization and de-serialization of the pipelines. Is there an external tool you intended to use for serialize the pipelines or it is the missing functionality, planned for the future?

[2020-11-18 11:37] shaypal5 commented on #45
It simply means that they are built to be serializable by `pickle`, Python's built-in serialisation library. This is actually not automatic for many of the common pipeline if this issue was not taken in to consideration.

Do you think having built it methods like `save_to_disk` and `load_from_disk` that receive file paths as inputs and call `pickle` internally would make this more readily usable?

[2020-11-18 11:37] #45 closed

[2020-11-18 12:04] antopolskiy commented on #45
I am currently experimenting with `jsonpickle`, I think it might be a better candidate.

 The only limitation I've found so far is that you can't use lambdas as function inputs. `jsonpickle` still allows you to dump and load, but on run the pipeline will raise an error, because it cannot find `_func`.

Same applies to `pickle`, but it raises an error immediately on serialization.

[2020-11-18 14:07] shaypal5 commented on #45
`dill` can pickle lambdas, if I'm not mistakes. Take a look and think about it:
https://pypi.org/project/dill/

If you can provide a coherent solution that more readily accessible and perhaps even more powerful than just using `pickle`, I'll be delighted to include it as a contribution to this package. :)

[2021-02-22 07:10] altescy opened #46 "_get_args_list does not work well"
Thank you for this awesome project!

I tried to use `TfidfVectorizeTokenLists` with parameters of sklearn's `TfidfVectorizer` like the following,
but these parameters were ignored.

This is caused by the incorrect behavior of `pdpipe.shared._get_args_list`.
`_get_args_list` does not return any args of `TfidfVectorizer.__init__`.

Currently,  `inspect.getargspec` is used in `pdpipe.shared._get_args

[2021-02-23 13:46] shaypal5 commented on #46
Nice catch! I'll make a PR soon. :)
You're more than welcome to contribute, if you'll like.

[2021-02-23 19:37] shaypal5 commented on #46
Fixed in release `v0.0.54`.

[2021-02-23 19:37] shaypal5 commented on #46
Fixed in release `v0.0.54`.

[2021-02-23 19:37] #46 closed

[2021-06-05 07:39] Asrst opened #47 "Merge Pipeline Stage for Pandas DataFrame"
Thanks for this library, it made my pandas workflow clean & easy to maintain.

`pd.merge` common operation when dealing with 2 or more data frames & pipeline stage for this is missing. Currently, I am implementing a custom pipeline stage `pdp.Merge` from `PdPipelineStage`  & would like to contribute.

[2021-06-05 10:23] shaypal5 commented on #47
Sure, I'd appreciate any contribution! :)
Let me know if you need any help.

And thank you for the kind words. :)

[2021-08-28 08:19] IncubatorShokuhou opened #50 "How to perform operations like ` df. shift(1)` in pdpipe?"
I am working on time series dataframe, and trying to something like `df.shift(1)` using `pdpipe`, in order to generate new columns that reflects the column several times before. Is it possible to do that? If possible, how can I do it?

Here is an example of what I am doing right now:
[code]

[2021-08-31 10:26] shaypal5 commented on #50
Hey @IncubatorShokuhou

At the moment, you can do it using the `ColByFrameFunc` pipeline stage, like so:

[code]

If you want the new column a to be placed right after a specific column (such as "a") you can also use `follow_column="a"`.

Now, today you can use `AggByCols` to do similar stuff more elegantly, but it won't handle Series methods:
[code]
So this will generate for each numeric-type col

[2021-08-31 10:26] #50 closed

[2021-09-06 10:49] Asrst commented on #47
Hi, can we close this issue.? I already raised a pull request with this features #48

[2021-09-13 08:59] shaypal5 commented on #47
Hey @Asrst ,

Sorry for the belated response! :)
I've migrated successfully to Github Actions.

I'd love it if you can rebase over the current head of the `master` branch it open a new pull request.
Tests should then work properly, including linting and coverage reports by codecov.

Cheers,
Shay

[2021-09-13 09:11] shaypal5 commented on #47
By the way, you can see here your code reduces test coverage below 100% (which we cannot have):
https://github.com/pdpipe/pdpipe/pull/53

Please enrich tests to cover all cases you accounted for in your code.

I don't want to use that PR, as it has two merge commits. I rather you rebase over the master and open a PR with a single code commit, which I can then fast-forward to, to avoid a merge comm

[2021-09-17 11:52] shaypal5 opened #54 "Add better support for column-generating Series methods"
At the moment, `pandas.Series` methods can be used as column-generating transformations using the `ColByFrameFunc` pipeline stage, like so:

[code]
If you want the new column to be placed right after a specific column (such as `"a"`) you can also use `follow_column="a"`.

Now, today you can use `AggByCols` to do similar stuff more elegantly, but it won't handle `Series` methods:

[code]

So this w

[2021-09-17 11:54] shaypal5 commented on #33
A year later, during spring cleaning, just popping over to write that I don't think `scikit-learn` and `nltk` should be mandatory requirements. :)

[2021-09-26 08:41] Asrst commented on #47
hi @shaypal5,

rebased over the master & raised a new pull request. #55

[2021-10-21 06:56] lim-0 opened #56 "On pipeline parameters, constructors and column conditions: A.k.a, can I pass parameter to ApplyToRows?"
I saw en example like this：

![image](https://user-images.githubusercontent.com/35923416/138227080-6177089e-d62e-4d83-9ebd-842c1822a993.png)

if my function like this：
![image](https://user-images.githubusercontent.com/35923416/138227811-84d4a78d-3fcf-4c8b-af65-ed1b012b1ad8.png)

how can I do to make it go into `effect?

[2021-10-21 10:25] stefansimik opened #57 "Add example for GridSearchCV parameter tuning"
Hi, please add to documentation
simple example for common scenario in ML models,
how to use pdpipe with GridSearchCV.

It is not clear, how to do it / of if expected scenario at all.

This basic simple will help people to use pdpipe for all
ML models and parameter-tuning techniques.

Best
Stefan

[2021-10-22 00:38] lim-0 commented on #56
@shaypal5 I get it，thank you very much！

[2021-11-03 13:41] #56 closed

[2021-11-03 17:14] shaypal5 opened #58 "Have column-based stages successfully support column qualifiers as arguments"
See the (currently expected to fail) `test_schematize_with_cq` test.

[2021-11-06 14:05] vecorro opened #59 "Can't find the way to pass flags to RegexReplace"
Summary.

I wonder if is it possible to pass flags to the RegexReplace class to control de behavior of the regex engine.

## Expected Result

For instance, in the re module, you may pass to re.sub() flags like re.I to make the search case insensitive and re.M to search over strings that include the '\n' character.

## Actual Result

After reading the documentation, I could not find how to do it.

[2021-11-06 18:54] vecorro opened #60 "Accesing a complete series when using ApplyByCols"
I have a transformation where I have have a text column and I'd like to limit the number of words by calculating the average number of words (mean) and adding to this number  2x the std of the number of words. To achieve this, I need scan all the text values in the series, calculate the mean and std, and then perform the transformation that limits the number of words in each string. I tried severa

[2021-11-07 09:32] shaypal5 commented on #59
You're right. I'll add it ASAP and release a version in a couple of days.
Good catch!

[2021-11-08 07:27] shaypal5 commented on #59
Amended in release `v0.0.64`: See the new `flags` constructor parameter for `RegexReplacer`.
Please reopen (or open a new issue) if problems arise. :)

[2021-11-08 07:27] #59 closed

[2021-11-08 07:30] shaypal5 commented on #57
Good question. I'm working on it for the last couple of days.

I am not yet sure how easy it is to implement, as I think `sklearn` casts input dataframes to `numpy.ndarray` objects, but we'll see.

You can take a look at this branch if you want to:
https://github.com/pdpipe/pdpipe/tree/custpipebase

[2021-11-08 18:35] #57 closed, assigned to shaypal5

[2021-11-08 20:59] stefansimik commented on #57
Excellent, thank you very much ❤️
I will test in my current project 👍

[2021-11-09 08:15] shaypal5 commented on #57
Great! Let me know how it goes.

[2021-11-14 13:08] yarkhinephyo commented on #40
Hi! I would like to make a new issue for the No.2 and work on it if its okay :)

[2021-11-14 14:49] shaypal5 commented on #40
Yeah, definitely! Go fo it and let me know how it goes! :)

[2021-11-14 16:45] yarkhinephyo opened #62 "Add time flag for PdPipeline.apply"
### Context
As mentioned in #40, currently there is a `time`  flag for `PdPipeline.fit_transform` and `PdPipeline.transform` which prints out the time taken for each stage of the pipeline. However, it does not exist for PdPipeline.apply yet.

### Proposed solution
Modify `PdPipeline.apply` to include `time` flag which it passes to `self.transform` and `self.fit_transform`.

[2021-11-15 15:23] shaypal5 opened #64 "Invertible / inverse transform pipelines"
Just thought by @solalatus.

Never formalized, and will be a complex undertaking for sure:

1. This will have to be optional, and pipelines could only be invertible if all stages are invertible.
2. We might want to enable an optional way to make a pipeline stage invertible, at the cost of memory when doing the original transform (because you have to keep a lot of data for invert things like binnin

[2021-11-15 15:25] shaypal5 commented on #62
Released in `v0.0.67`!!! <3

Way to go on your first contribution, @yarkhinephyo ! :)

[2021-11-15 15:25] #62 closed

[2021-11-15 15:33] yarkhinephyo commented on #28
Hi! I can try to add the suggestions above to the documentation

[2021-11-15 15:43] shaypal5 commented on #28
Have a go at it!

You can look at the tests for the aforementioned stages for help on other uses for them.

Also ask me for help if you need it.

And please - any use case you add documentation for, add a basic test for in the test suites of the corresponding stage; whatever we publish the package can do, we MUST test for.

Good luck! :)

[2021-11-15 15:45] shaypal5 commented on #41
3 is now handled (we have a flake8 lint job).

The questions regarding more opinionated linters such as black remains.

[2021-11-15 15:47] shaypal5 commented on #60
I think this can already be done with current stages, but I can't get to it right now. This is on the top of my list.

[2021-11-16 11:23] shaypal5 commented on #28
See PR #65 .

[2021-11-17 14:55] yarkhinephyo opened #66 "Deprecation warning - TfidfVectorizeTokenLists"
### Issue
`TfidfVectorizeTokenLists._fit_transform` utilizes `TfidfVectorizer.get_feature_names` which is deprecated.

### Proposed solution
Modify to use the new method `TfidfVectorizer.get_feature_names_out`

### Screenshot
![image](https://user-images.githubusercontent.com/19868916/142223852-b30d53ea-e4c7-46e0-a9ec-d3738e3a1ef0.png)

[2021-11-18 10:52] shaypal5 opened #67 "Chore: Update docs on pages site with new doc updates"
After #65 is merged.

[2021-11-18 11:28] #67 closed

[2021-11-18 18:20] shaypal5 commented on #66
I'm getting `AttributeError: 'TfidfVectorizer' object has no attribute 'get_feature_names_out'` locally, so I don't think we should switch if my sklearn, which is `0.24.2`, doesn't have this function yet.

[2021-11-18 18:20] #66 closed

[2021-11-19 08:19] shaypal5 opened #68 "More informative exception text for failing pre/post conditions using pdp.cond.Condition objects"
If I'm using a `pdp.cond.Condition` object, for example `pdp.cond.HasAllColumns(['a', 'b'])`, as a precondition (or a post-condition) in my pipeline stage and it fails, I expect an informative exception message, such as `"Not all required columns ['a', 'b'] found in input dataframe"` (or better yet, `"Required columns ['a'] not found in input dataframe"`, in the case only `"a"` is missing).

This

[2021-11-19 16:29] yarkhinephyo commented on #68
Hi Shy,

For displaying an error message specific to a condition, (Example - `"Not all required columns ['a', 'b'] found in input dataframe"` when only `['a']` is missing), I am thinking add a new attribute to `Condition` to store `self.exdesc` which is populated during object construction by subclass. Then inside `PdPipelineStage`, if `self._prec_arg` returns False during precondition check, ``se

[2021-11-20 15:40] shaypal5 commented on #68
I'll say let's start with the more basic type of prints, because thinking about this again it seems like most stages will have to be re-written with a more complex and less efficient code to be able to tell this.

And the simpler implementation can just have a custom attribute that each condition must populate, with the `Condition` class providing a default string.

I would go with a name that sho

[2021-11-20 15:42] shaypal5 commented on #68
We have to do this because a condition can be any `callable` object that can return a `bool` value for `pandas.DataFrame` objects, and might not have any of these attributes.

[2021-11-20 16:19] yarkhinephyo commented on #68
Thanks for the detailed explanation!

Just to check again, `Condition` class should look something like this:
[code]

Also would it be more helpful for user if we give them the `"Precondition failed in stage..."` either way?
Something along this line -

[code]

[2021-11-25 09:31] shaypal5 commented on #68
Yes, just add the `error_message` param *after* `fittable`, so argument order is backward compatible.

Regarding 2: Yeah, good idea. Also, a fix to my mistake: It should be `self._prec_arg.error_message`. `_compound_prec` is a method of `PdPipelineStage`, not the `Condition` object that might have been supplied.

[2021-11-28 01:34] yarkhinephyo opened #70 "Incorrect precondition and postcondition error messages"
For pipeline stages provided by the `pdpipe.basic_stages`, supplying conditions to the `prec` and `post` keyword arguments may not return the correct error messages.

## Example Code

[code]

The problem is there for `post` argument too.

## Expected Result

Error message indicates that the user-provided precondition check failed. Or more specifically, column `x` was not found in the `df`.

## Act

[2021-11-29 12:20] MagBuchSB1 opened #71 "Pickling of pipelines"
Hi,

I stumbled upon your excellent library when researching ways of serializing and pickling pipelines for reuse on new datasets, and found your approach to be most promising.
However, when attempting to pickle to the following pipeline from your documentation;

`pipeline = pdp.ColDrop("Name") + pdp.OneHotEncode("Label")`
`pipeline += pdp.MapColVals("Job", {"Part": True, "Full":True, "No": False}

[2021-11-29 12:57] MagBuchSB1 commented on #71
Apologies, seems like https://github.com/pdpipe/pdpipe/issues/45 addresses the same issue.

[2021-11-29 13:09] shaypal5 commented on #71
No no!

This is definitely a bug on my end! I'll look into it the coming days.
All these pipeline stages should pickle out of the box, and they did in previous versions.

I think that perhaps some new feature that has something todo with that `_tprec` private attribute broke this.

Which also means I have some missing tests!

I'll take a look in the coming days and get back to you. This should be

[2021-11-29 13:14] MagBuchSB1 commented on #71
Great @shaypal5, looking forward to hearing from you!

[2021-11-29 13:37] MagBuchSB1 commented on #71
As for my other question on calculating age. Here's one way of solving this with a lambda:
[code]
![image](https://user-images.githubusercontent.com/36260162/143877521-8c6553ce-2765-40bd-9bd6-33ba5cbfe3b1.png)

This works fine, but cannot be pickled:
`joblib.dump(add_age, "add_age.pkl")` yields:
`PicklingError: Can't pickle <function <lambda> at 0x000001CBC4177D30>: it's not found as __main__.<lam

[2021-11-29 13:54] shaypal5 commented on #71
Yes. Named function, even private ones (meaning, ones defined inside scopes, like inside functions/methods or inside `for` loops) are pickle-able.

This should work:
[code]

[2021-11-29 13:56] shaypal5 commented on #71
Also, writing the name of a programming language after the three ``` that start a code block makes it syntax-highlighted.

Meaning:
[code]
(without the `\`)

will render as:
[code]

And `bash` is also supported.

[2021-11-29 14:18] MagBuchSB1 commented on #71
Thanks for the syntax highlighting tip, I knew there was a better way to post code. I'll be better :)

As for your example, I cannot seem to get that to work unless I pickle and unpickle the function separately.

First dump:

[code]

Then load and apply:

[code]

I'm probably messing something up. This is, however, close to an acceptable workaround, although less dynamic than I'd wished.

[2021-11-30 07:47] MagBuchSB1 commented on #71
Here's a thought:
In order to make sure the named function is available after serializing and deserializing the pipe, how about serializing and deserializing the function within the pdpipe class? This seems to work in my tests. Here's how I tested it:

In class ApplyByRows.\__init__, included:

[code]
Then in ApplyByRows._transform:
[code]
Obviously not robust like this, but maybe an approach to c

[2021-11-30 13:07] MagBuchSB1 commented on #71
On further investigation it seems like cloudpickle might solve this, as it serializes by value and not by only reference.

[2021-11-30 17:20] shaypal5 commented on #70
Ok. Now seeing this and trying this for myself I think pre- and post-conditions error messages should be their business, not that of the pipeline stage.

Recall I wrote the pipeline stage class first, way before I wrote conditions, and then I expected these messages to come up when the precondition failed.

I think `PdPipelineStage` attribute of `exmsg` should now become a message meant to be used

[2021-12-02 13:43] MagBuchSB1 opened #72 "Setting type to category"
Hi

In many cases I need to set the data type of object-columns to "category", like so;
[code]
How would I go about doing this in pdpipe? I've tried different approaches using ColumnDtypeEnforcer, but to no avail...

[2021-12-07 16:28] shaypal5 commented on #72
OK. `ColumnDtypeEnforcer` should actually support this.

For a static column list, this works fine (at least for me), assuming `'a'` and `'b'` are the labels of you object columns:

[code]

If you want the pipeline stage to convert all object columns to "category", to be determined on runtime, do this:

[code]

This also works fine for me locally. Notice that if you use the same pipeline object se

[2021-12-07 17:41] shaypal5 commented on #71
Solved!

Changed the inner implementation to use `Condition` objects instead of local functions. Way prettier, too. I'll release a version in the next 24 hours, and then move to write tests covering serialization of all pipeline stages.

[2021-12-08 10:43] shaypal5 commented on #71
Released in `v0.0.68`. Let me know if serialization now works, or if another stage fails to serialize.

[2021-12-10 10:49] shaypal5 commented on #71
A couple of additional unpickle-able stage were found and fixed.
Released in `v0.0.69`.
Everything should be pickle-able now.

[2021-12-10 10:49] #71 closed

[2021-12-10 10:51] shaypal5 opened #74 "Chore: Add pickleing tests for all pipeline stages"
Issue #71 pointed at a pickling problem with the `ColRename` stage, with a fix released in `v0.0.68`.
After fixing that, a couple of additional unpickle-able stage were found and fixed, which was released in `v0.0.69`.

Everything should be pickle-able now, BUT not all stages are tested for this.
This situation should be remedied sooner rather than later.

[2021-12-19 17:15] shaypal5 commented on #54
This is now possible with `pdp.MapColVals`!

[code]

This is true for any `Series` method, property or attribute that returns a series, for example the `'days'` property of a column of a `timedelta` type. Read more on the [MapColVals doc page](https://pdpipe.github.io/pdpipe/doc/pdpipe/col_generation.html#pdpipe.col_generation.MapColVals).

[2021-12-19 17:15] #54 closed

[2021-12-19 17:15] #72 closed

[2021-12-23 15:13] banduoba opened #76 "Do you support two DataFrame operations now?"
Is the use of pdpipe supported if there are two or more DataFrames?

[2021-12-24 12:55] shaypal5 commented on #76
It depends on what exactly do you mean. Do you mean on several dataframes on after the other, or on operations that by nature operation on two or more dataframes?

[2021-12-24 14:21] banduoba commented on #76
For example, df.drop(df[df['col1'].isin(df_other['col1'])].index), this is what I said about using two DataFrame, or more.

I also want to know, if I want to use df['col1'].fillna(0), which method do I need to use, through the pdpipe.df can not use this method, whether this built-in method is not supported.

[2021-12-29 09:59] shaypal5 commented on #76
## Processing two dataframes

If one of the dataframes is an input dataframe to a pipeline, and the other is either a static one, or is completely derived from the input, then yes - `pdpipe` is adequate.

If, on the other hand, both dataframes are input dataframes to a pipeline, then no, currently `pdpipe` is not built to handle just joint operations. This is because it's really not clear how to s

[2021-12-29 09:59] #76 closed

[2021-12-29 14:50] banduoba commented on #76
![image](https://user-images.githubusercontent.com/4811366/147674299-03404617-4284-49c5-9509-215ff22bd8f2.png)

[2021-12-29 14:50] banduoba commented on #76
@shaypal5

[2022-01-02 08:14] shaypal5 commented on #76
The `df` attribute of the `pdpipe` package (or `pdp` if you `import pdpipe as pdp`) is a handle for all wrappers the wrap `pandas.DataFrame` methods as `pdpipe.PdPipelineStage` constructors.

So when you're writing `pdp.df` you're not getting the same object - a dataframe - that you defined using `df = ...`. This is the same way in which each `df.dtypes` attribute of various dataframe objects will

[2022-01-03 12:30] banduoba commented on #76
Thank you for your answer.

[2022-01-03 16:03] shaypal5 commented on #76
No problem. Thank you for taking an interest in my project, and for taking the time to ask me about it. :)

[2022-02-04 13:36] shaypal5 opened #86 "Application context objects should not be kept by default + add way to supply fit context"
pdpipe uses `PdpApplicationContext` objects in two ways:
1. As the `fit_context` that should be kept as-is after a fit, and used by stages to pass to one another parameters that should also be used on transform time.
2. As the `application_context` that should be discarded after a specific application is done, and is used by stages to feed consecutive stages with context. It can be added to by sup

[2022-02-04 13:37] shaypal5 commented on #86
@carbonleakage does this sound interesting?

[2022-02-04 13:38] shaypal5 commented on #13
@carbonleakage

This is also a great first issue.

It can also lead to writing, as a second stage, a generic column-based stage wrapper for any matrix-to-matrix sklearn transformer. What do you say? :)

[2022-02-04 13:45] shaypal5 commented on #58
This actually seems to be working with `ColDrop` (see `test_coldrop_col_qualifier`), so I think this works with all column-based pipeline stages. `Schematize` specifically isn't such a stage, and wasn't a fit for column qualifiers at all.

Should be re-opened if this turns out to not be the case.

[2022-02-04 13:45] #58 closed

[2022-02-04 14:04] shaypal5 commented on #28
Btw @yarkhinephyo , that's another way for you to add docs to the package. :)

[2022-02-04 14:07] shaypal5 opened #87 "Feature: A generic ,column-based, stage wrapper for any matrix-to-matrix sklearn transformer."
Basically the column parameter - which can be a single columns, a list of them or a dynamic `ColumnQualifier` object, takes a subset of input dataframes, and the wrapped `sklearn` transformer transforms just this sub-dataframe, which the stage puts back in the right place.

[2022-02-05 14:06] carbonleakage commented on #86
@shaypal5 sounds pretty interesting, ill start working on this!

[2022-02-05 14:24] shaypal5 commented on #86
Great. I'll share code with the latest use case I had for application context, so you have some context yourself. :)

[2022-02-06 12:29] shaypal5 commented on #86
See the pipeline stage here:
https://github.com/shaypal5/mba_ds_project/blob/main/mba/pipeline.py#L20

It gets a product-review dataframe as context, used to enrich *some* of the rows in the input dataframe with product sentiment features.

In another file, on fit-transform the pipeline is provided with the train review dataframe:
https://github.com/shaypal5/mba_ds_project/blob/main/mba/buyer.py#L

[2022-02-15 06:20] carbonleakage commented on #86
Hey @shaypal5 I started looking into this last week. I have not made much progress due to other commitments. I plan to do some pull requests in the coming weeks.

[2022-02-15 06:43] shaypal5 commented on #86
Great. :)

Just wanted to touch base.

[2022-02-17 14:35] carbonleakage commented on #86
Hello @shaypal5 I just did a pull request #89, let me know what you think.

[2022-02-22 08:44] #86 closed

[2022-02-23 17:05] shaypal5 commented on #86
Released in `v0.2.1`:   🎊 🎉
https://github.com/pdpipe/pdpipe/releases/tag/v0.2.1

[2022-02-26 15:49] banduoba opened #91 "About ColByFrameFunc"
Summary.

## Expected Result
**Execute add_Col function according to the condition of the df['A'] column value.**

What you expected.

## Actual Result
ERROR:PipelineApplicationError: Exception raised in stage [ 0] PdPipelineStage: Applying a function to generate column A.
What happened instead.
<img width="1148" alt="image" src="https://user-images.githubusercontent.com/4811366/155849266-816fb1ba

[2022-02-26 18:11] #91 closed

[2022-02-27 03:44] banduoba commented on #91
Actually I want to know if it is possible to generate new columns based on conditional judgments of multiple columns. Thank you.
@shaypal5

[2022-02-27 16:39] shaypal5 commented on #91
Oh, right! Yes, there is. It's just a different pipeline stage, [`ApplyToRows`](https://pdpipe.readthedocs.io/en/latest/reference/col_generation/#pdpipe.col_generation.ApplyToRows) ([read the docs here](https://pdpipe.readthedocs.io/en/latest/reference/col_generation/#pdpipe.col_generation.ApplyToRows)). This will give you what you want:

[code]

<img width="653" alt="image" src="https://user-imag

[2022-02-27 16:39] shaypal5 commented on #91
Again, if you want the stage to be serializble/pickle-able you need to use a properly-defined function, and not a lambda. :)

[2022-03-09 17:41] daf opened #92 "sklearn still required at import time from skintegrate module"
Installing pdpipe 0.2.1 without the optional dependencies sklearn and nltk will error on `import pdpipe` due to the missing sklearn dependency.  Looks like pdpipe's `__init__.py` does try/except/warn guarding for both [sklearn ](https://github.com/pdpipe/pdpipe/blob/d3d7ba600f14a158c8ea34d7e965f533b237e144/pdpipe/__init__.py#L77-L92) and [nltk](https://github.com/pdpipe/pdpipe/blob/d3d7ba600f14a15

[2022-03-10 09:35] shaypal5 commented on #92
Thank you so much for catching this!
Closed in release `v0.2.2`.

[2022-03-10 09:35] #92 closed

[2022-05-07 08:39] lim-0 opened #98 "I wonder if we can get the status of each Stages"
I want to develop a data mining application, where one function point is to capture the execution status of each step，if I can achieve by pdpipe？

[2022-05-12 00:41] jjlee88 opened #100 "exclude_columns does not work for ColumnsBasedPipelineStage"
When setting `exclude_columns` as a list of strings in the constructor of `ColumnsBasedPipelineStage` the member variable `self._exclude_columns` is set to a tuple instead of the passed in list. This leads to errors with `__get_cols_by_arg` which ends up returning the tuple and not the list itself.

## Code where the issue appears to be

https://github.com/pdpipe/pdpipe/blob/763320db326e9a49f51bd7

[2022-05-12 11:28] shaypal5 commented on #100
Right you are! Thank you for catching this!

I'll fix this and add a text.

It shouldn't be discarded, by the way. The second element is an ``str`` representation of the columns to be discarded. It will be used to construct the pipeline description string.

[2022-05-12 11:28] #100 closed

[2022-05-12 11:31] shaypal5 commented on #100
Done. The new test now catches this error:
https://github.com/pdpipe/pdpipe/actions/runs/2313073586

And the same test passes for the fix:
https://github.com/pdpipe/pdpipe/actions/runs/2313093564

[2022-05-13 14:38] shaypal5 commented on #100
No problem! I wrote it for fun, and it's an immense pleasure to have other people find use for it.

[2022-06-23 08:53] milesgranger opened #102 "Switch from pdoc3 to pdoc?"
Would you be interested in switching from pdoc3 to [pdoc](https://github.com/mitmproxy/pdoc), specifically due to [this point here](https://github.com/mitmproxy/pdoc#pdoc-vs-pdoc3)? Seems to be more actively maintained as well.

[2022-06-23 11:00] shaypal5 commented on #102
Oh, actually it's the old doc site that was built using `pdoc3` (and is configured through the `apidoc` dir).

The new one can be found in:
https://pdpipe.readthedocs.io/en/latest/

It is built using `mkdocstrings`, and configured via the `docs` dir and some additional configuration files in the repository's root.

I've deleted the `apidoc` directory as it's no longer required, and to avoid furthe

[2022-06-23 11:00] #102 closed

[2022-06-24 14:07] shaypal5 opened #103 "External file loading problem with pdpipe import"
### Discussed in https://github.com/pdpipe/pdpipe/discussions/97

<div type='discussions-op-text'>

<sup>Originally posted by **Dranikf** March 14, 2022</sup>
Will start with example. I create `test.py` file in some dir, it may looks like this:

[code]
In ".../some_external_folder" i have added `temp.py` file, which contains `'hello world'` printing. When I try to run first file i have a error:
[c

[2022-06-24 14:29] shaypal5 commented on #103
Clues:

1. https://justus.science/blog/2015/04/19/sys.modules-is-dangerous.html
2. https://github.com/python/cpython/issues/89516

[2022-06-24 15:11] shaypal5 commented on #103
Update: Even when I delete the only piece of my code using `sys`, the error presists. :/

See this method:
https://github.com/pdpipe/pdpipe/blob/ebd415321f8fbdfa28c2884063e5ca79cc86096e/pdpipe/core.py#L62

[2022-07-03 07:28] shaypal5 opened #104 "Doc Site: Class docstring examples are not presented correctly"
On [the project's docsite](https://pdpipe.readthedocs.io/en/latest/), class docstring examples are not presented correctly.

I'm pretty sure this is the last inheritance from `pydoc3`, the way the doc site was compiled before, which required extra indentation of the `Example` portion of docstring to compile. Removing the indent should solve this.

## Expected Result

Nice, syntax-highlighted, code

[2022-07-03 14:33] shaypal5 opened #105 "Feature Request: Future params using application context"
I want a way to supply pipeline stage constructor parameters with future-like placeholders, so that actual values will be determined by prior stages on application time.

I would assign the name of the future `ApplicationContect` key holding the value after it was calculated — wrapped by a unique class — to the parameter.

The constructor will hold on to this object, and will — in application time

[2022-07-03 15:09] shaypal5 commented on #60
Hey @vecorro !

Sorry for the extremely belated response.
I still wanted to address this, for future users.

Ok, if we first define this:

[code]

Then this works:
[code]
Please repoen this issue if this doesn't work for you.

I'm also converting it to a discussion so it can be used as a reference for this type of things.

I'm working on a way to steamline use of application context, to make this

[2022-07-03 15:09] #60 closed

[2022-07-05 13:06] shaypal5 opened #108 "Feature Request: Multi-headed pipelines"
I want to be able to push multiple dataframes into a pipeline and get a single ones. Individual pipelines are connected by joins, concats, etc.

[2022-07-15 07:41] shaypal5 commented on #28
Closing this as the doc site now includes a fair amount of nice tutorials.

[2022-07-15 07:41] #28 closed

[2022-08-06 08:23] shaypal5 opened #110 "Feature Request: Dynamic params from input dataframe on fit_transform"
I want a way to supply pipeline stage constructor parameters with future-like placeholders, so that actual values will be determined by prior stages on application time.

I would assign the name of the future `ApplicationContext` key holding the value after it was calculated — wrapped by a unique class — to the parameter.

The constructor will hold on to this object, and will — in application time

[2022-08-06 08:52] shaypal5 commented on #110
Reference pseudo-code for the `pipeline.fit_transform()`:

<img width="595" alt="image" src="https://user-images.githubusercontent.com/917954/183242129-6ef77f64-37c6-4f47-ba76-94f6c31e3acd.png">

[2022-08-06 09:06] amihaiOff commented on #110
# Implementation thoughts after meeting 6/8
In the stage init, when is calls `super().__init__` the super looks to see if it gets a dynamic type for one of it's non standard attrs (or looks for an `is_dynamic` flag) and if so populates a list of dymanics (or contextuals) with a dict with the name of the attr that is dynamic and the callable that sets the value at "fit time".
Then in the pipeline,

[2022-08-07 13:01] shaypal5 commented on #110
1. Looks good! Thank you for writing this down! :)

2. No, I don't think we want to assert the argument is indeed a callable. When calling it, we should `try-except` and throw a `ValueError` at the user if calling fails; it will fail with a `TypeError`, and we would also have to check the text "is not callable" is contained in the message. See, for example, such a usecase in `pdpipe.PdPipelineStag

[2022-09-19 07:09] #110 closed

[2022-10-08 21:19] shaypal5 opened #113 "Read & write pipeline configuration from/to YAML"
This is a feature that has been discussed and requested several times.

A couple of independent projects tried to do exactly that, but I believe it is worthwhile to have one official API exposed by the package, and also kept up-to-date:

- https://github.com/blakeNaccarato/pdpipewrench
- https://github.com/altescy/pdpcli
- https://github.com/neilbartlett/datapipeliner